body {
	font-family:calibri, Helvetica, 'Nimbus Sans L', sans-serif;
	font-size: 15px;
}

#mensaje {
	/*display: none;*/
	visibility: hidden;
	width: 20;
	height: 10;
}

table, td,th {
	
	border: 1px solid black;
}